---
layout: default
---

<div class="row">

<div class="one-half column">
<section>

<h2>SELECTED WORKS</h2>

<ul>
  <% @content_data.each do |r| %>
    <% name = r.first %>
    <% info = r.last %>
<li>
  <h3><a href="<%= info['url'] %>"><%= name %></a></h3>
  <ul>
    <li><i><b>Abstract</b></i> - <%= info['desc'] %></li>
    <li><i><b>Keywords: </b></i><%= info['tags'].sort_by {|s| s.upcase }.join(", ") %></li>
  </ul>
  <div class="spacer"></div>
</li>
  <% end %>
</ul>


</section>
</div>

<div class="one-half column">
<section>
<img alt="lotus" src="/assets/images/lotus.webp" width="1000" height="1000" style="width:100%; height:auto;">
<a href="/docs/">more..</a>
</section>
</div>

</div>
