---
layout: default
---

<div class="row">

<div class="one-half column">
<section>

<h1>SELECTED WORKS</h1>
<ul>
<% @content_data.each do |r| %><% name = r.first %><% info = r.last %>
<li><a href="<%= info['url'] %>"><%= name %> (<%= info['short'] %>)</a></li>
<% end %>
</ul>

<a href="/docs/">more..</a>
</section>
</div>

<div class="one-half column">
<section>
<img alt="lotus" src="/assets/images/lotus.webp" width="1000" height="1000" style="width:100%; height:auto;">
</section>
</div>

</div>
