---
layout: default
---

<div class="row">

<div class="one-half column">
<section>

<h2>SELECTED WORKS</h2>
<ul>
  <% @content_data.each do |r| %>
    <% name = r.first %>
    <% info = r.last %>
    <li><section>
      <a href="<%= info['url'] %>"><%= name %></a>
      <ul><li><%= info['desc'] %></li></ul>
    </section></li>
  <% end %>
</ul>


</section>
</div>

<div class="one-half column">
<section>
<img alt="lotus" src="/assets/images/lotus.webp" width="1000" height="1000" style="width:100%; height:auto;">
<a href="/docs/">more..</a>
</section>
</div>

</div>
