<% pagename="yumayx.github.io" %>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= pagename %></title>
<meta name="description" content="<%= pagename %>">
<meta name="author" content="YumaSATO">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/data/favicon.png">
<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>
<body><h2><%= pagename %></h2><hr />
