---
layout: default
---


<section>
<h1>YS1</h1>
</section>

<div class="row">

<div class="one-half column">
<section>
<img alt="lotus" src="/assets/images/lotus.webp" width="1000" height="1000" style="width:100%; height:auto;">
</section>
</div>

<div class="one-half column">
<section>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>YS1</td>
    </tr>

    <tr>
      <td>Language</td>
      <td>Ruby</td>
    </tr>

    <tr>
      <td>Format</td>
      <td>RubyGems</td>
    </tr>

    <tr>
    <td>Platform</td>
        <td>Linux, MacOS, Windows</td>
    </tr>

    <tr>
      <td>Category</td>
      <td>Efficiency, Automation</td>
    </tr>

    <tr>
      <td>Keywords</td>
      <td>gem, Programming, Ruby</td>
    </tr>

      <tr>
      <td>Author</td>
      <td>Yuma</td>
    </tr>

    <tr>
      <td>Link</td>
      <td><a href="https://yumayx.github.io/YS1/">https://yumayx.github.io/YS1/</a></td>
    </tr>

    </tbody>
</table>
</section>

</div>


</div>